/* 
"."=class
"#"=id
""=tag

camelCase = bermula dari huruf kecik, dan setiap perkataan lain, start huruf besar
snake_case = setiap perkataan bermula dengan huruf kecil, perkataan lain di dahului dengan
"_"
*/

.fontFamily {
    font-size: 24px;
    font-family: 'Sofia'
  }
  
  #firstName {
    color: #23dcc9;
  }

#mainContainer {
  background-color:blueviolet;
  text-align: center;
  margin: 15px;
  border-radius: 10px;
}